* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: whitesmoke;
  font-family: Calibri;
  background: black; }

.container {
  display: grid;
  gap: 10px;
  margin: 20px;
  grid-template-rows: 0.1fr 0.8fr 0.5fr;
  grid-template-columns: 0.20fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "aside main main" "aside mapa foto"; }

.h1-index {
  grid-area: titulo;
  text-align: center; }

.main-index {
  grid-area: main;
  text-align: justify;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 50px; }

.aside-index {
  grid-area: aside; }

#img-aside {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.section-mapa {
  object-fit: cover;
  grid-area: mapa; }

.section-mapa-chico {
  display: none;
  grid-area: MapaChico; }

.section-foto {
  grid-area: foto; }
  .section-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.container-info {
  display: grid;
  gap: 20px;
  margin: 20px;
  grid-template-rows: 0.1fr auto 0.5fr;
  grid-template-areas: "titulo titulo titulo titulo" "texto texto texto texto" "foto-uno foto-uno foto-dos foto-dos"; }

.h1-info {
  grid-area: titulo;
  text-align: center; }

.main-info {
  grid-area: texto;
  font-size: 25px;
  text-align: justify;
  margin-bottom: 50px; }

.section-uno {
  grid-area: foto-uno;
  height: 490px; }
  .section-uno img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-dos {
  grid-area: foto-dos;
  height: 490px; }
  .section-dos img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.container-productos {
  display: grid;
  grid-template-areas: "titulo titulo titulo titulo" ". foto texto ." "otros otros otros otros";
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 20px;
  margin: 20px;
  justify-items: center; }

.h1-productos {
  text-align: center;
  grid-area: titulo; }

.foto-chuleta {
  grid-area: foto; }
  .foto-chuleta img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.info-main {
  font-size: 25px;
  grid-area: texto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.h2-productos {
  text-align: center;
  grid-area: otros; }

.row {
  grid-template-columns: 1fr 1fr 1fr; }

.card {
  background-color: #121212;
  width: 0,5fr;
  margin: 10px; }
  .card img {
    object-fit: cover; }

.card-title {
  color: whitesmoke;
  text-align: center; }

.card-img-top {
  max-height: 10rem; }

.logo {
  width: 80px; }

header {
  display: flex;
  background: #001e32;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px; }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 30px; }

a {
  font-size: 19px;
  text-decoration: none;
  color: white; }

main h1 {
  text-align: center;
  margin-top: 20px; }

.pages-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.centrado {
  display: block;
  text-align: center; }

footer {
  text-align: center;
  margin-top: 2rem; }

label {
  font-size: 18px; }

input {
  margin-bottom: 20px; }

.modal-content {
  color: black; }

@media (max-width: 768px) {
  header nav ul li a {
    font-size: 18px; }
  body {
    background-color: #121212; }
  .container-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "foto texto" "otros otros"; }
  .info-main {
    text-align: left;
    font-size: 20px; }
  .row-cols-1.row-cols-md-3 > .col {
    flex: 0 0 50%;
    max-width: 50%; }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo titulo" "main main" "MapaChico foto"; }
  .section-mapa-chico {
    display: block; }
  .main-index {
    font-size: 21px;
    text-align: center; }
  .section-mapa {
    display: none; }
  .section-foto {
    height: 100%; }
  .aside-index {
    display: none; }
  .main-info {
    font-size: 21px; } }

@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column; }
    header ul {
      margin-top: 20px;
      margin-bottom: 0px; }
      header ul li a {
        font-size: 25%; }
  body {
    background-color: #121212; }
  .container-productos {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "foto" "texto" "otros"; }
  .info-main {
    order: 1;
    text-align: center; }
  .row-cols-1.row-cols-md-3 > .col {
    flex: 0 0 100%;
    max-width: 100%; }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "main" "foto" "MapaChico"; }
  .main-index {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0; }
  .section-mapa {
    display: none; }
  .section-mapa-chico {
    text-align: center; }
  .section-foto {
    text-align: center; }
  .aside-index {
    display: none; }
  .container-info {
    grid-template-columns: 1fr;
    grid-area: "titulo" "texto" "foto-uno"; }
  .main-info {
    font-size: 18px;
    margin-bottom: 0px; }
  .section-uno {
    text-align: center;
    height: 200px; }
  .section-dos {
    display: none; } }
